:root {
  --clr-white: hsla(0, 0%, 0%, 1);
  --clr-grey-100: hsla(0, 0%, 90%, 1);
  --clr-grey-200: hsla(0, 0%, 70%, 1);
  --clr-grey-300: hsla(0, 0%, 50%, 1);
  --clr-grey-400: hsla(0, 0%, 30%, 1);
  --clr-grey-500: hsla(0, 0%, 12%, 1);
  --clr-black: hsla(0, 0%, 5%, 1);
  --fs-200: 24px;
  --fs-300: 32px;
  --fs-400: 40px;
  --fs-600: 64px;
}

body {
  background-color: black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  overflow-x: hidden;
  display: flex;
}

.gallery {
  width: 950vw;
  max-width: 600vh;
  height: 100vh;
  min-width: 50vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardTitle {
  /* visibility: hidden; */
  position: absolute;
  margin: 0px;
}

img {
  height: auto;
  max-height: 100%;
  max-width: 100%;
}

.card {
  display: flex;
  position: relative;
  margin: 20vh;
  justify-content: flex-start;
}

.container {
  margin: auto;
}

::-webkit-scrollbar {
  display: none;
}

.one {
  margin-left: 6vh;
}
