:root {
  --clr-white: hsla(0, 0%, 97%, 1);
  --clr-grey-100: hsla(0, 0%, 90%, 1);
  --clr-grey-200: hsla(0, 0%, 70%, 1);
  --clr-grey-300: hsla(0, 0%, 50%, 1);
  --clr-grey-400: hsla(0, 0%, 30%, 1);
  --clr-grey-500: hsla(0, 0%, 12%, 1);
  --clr-black: hsla(0, 0%, 5%, 1);
  --fs-200: 1.5rem;
  --fs-300: 2rem;
  --fs-400: 2.5rem;
  --fs-600: 4rem;
}

body {
  font-family: "SF-Pro-Display";
  height: 4200px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--clr-black);
  overscroll-behavior: none;
}

.biggercontainer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
}

.bigcontainer {
  position: absolute;
  top: 0;
  width: 4800px;
  height: 100%;
}

.gallery {
  position: absolute;
  top: 15%;
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.card {
  margin: 1em;
  display: flex;
  position: relative;
  width: 415px;
  overflow: hidden;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
}

.imagescards {
  position: absolute;
  width: 100%;
  overflow: hidden;
  transition: 0.5s ease;
}

.imagescards:hover {
  width: 115%;
  filter: blur(0.3rem);
  transform: scale(2);
  transform-origin: center;
}

.card:hover .titlecards {
  opacity: 1;
  transition: 1s ease;
}

.titlecards {
  margin: 0em;
  color: var(--clr-white);
  z-index: 2;
  opacity: 0;
}

.titlecards {
  padding: 0.5em;
  height: 2em;
  width: 100%;
  backdrop-filter: blur(10px);
  z-index: 1;
}

@media screen and (min-width: 100px) and (max-width: 700px) {
  body {
    height: 3300px;
  }

  .gallery {
    display: flex;
    justify-content: flex-start;
    top: 10%;
  }

  .biggercontainer {
    height: 100svh;
  }
  .card {
    margin: 3em;
    width: 320px;
  }

  #card-one {
    margin-left: 1em;
    height: 70%;
  }

  .popup-image.visible {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #pop-picture {
    width: 70%;
  }
  #pop-description {
    width: 80%;
  }
  #pop-text1 {
    font-size: 1em;
  }
  #pop-text {
    font-size: 1em;
  }
}

@media screen and (min-width: 700px) and (max-width: 1200px) {
  body {
    height: 4000px;
  }
  .gallery {
    top: 10%;
    justify-content: flex-start;
  }
  .card {
    margin: 7em;
    width: 369px;
  }
  .popup-image.visible {
    display: flex;
  }
  #pop-picture {
    min-width: 50%;
  }
}

.image-description {
  width: 30%;
  margin: 2em;
  box-shadow: 0px 4px 0px 8px rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  background-color: #1f1f1f;
  padding: 0.5em;
  color: var(--clr-white);
  z-index: 100;
}

.popup-image {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.popup-image.visible {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
}

.popup-image .popup-title {
  height: 3em;
  width: 15em;
  font-size: var(--fs-200);
  color: var(--clr-white);
  z-index: 102;
}

.popup-image .textcards-popup {
  font-size: var(--fs-200);
  color: var(--clr-white);
  z-index: 100;
}

.popup-image .popup-button {
  margin-top: 1em;
  width: 5em;
  border-radius: 4px;
  color: white;
  background-color: grey;
  padding: 0.5em;
  cursor: pointer;
  z-index: 101;
}

.textcards {
  display: none;
}

.popup-image .popup-pic {
  border-radius: 8px;
  width: 40%;
  object-fit: cover;
}

.popup-image .popup-pic-active {
  transition: 2s ease;
}

.card.one {
  margin-left: 16em;
  height: 100%;
}

.card.two {
  height: 75%;
}

.card.three {
  height: 35%;
}

.card.four {
  height: 65%;
}

.card.five {
  height: 50%;
}

.card.six {
  height: 95%;
}

.card.seven {
  height: 70%;
}

.textcards-one {
  margin: 0;
}
