:root {
  --clr-white: hsla(0, 0%, 97%, 1);
  --clr-grey-100: hsla(0, 0%, 90%, 1);
  --clr-grey-200: hsla(0, 0%, 70%, 1);
  --clr-grey-300: hsla(0, 0%, 50%, 1);
  --clr-grey-400: hsla(0, 0%, 30%, 1);
  --clr-grey-500: hsla(0, 0%, 12%, 1);
  --clr-black: hsla(0, 0%, 5%, 1);
  --fs-200: 1.5rem;
  --fs-300: 2rem;
  --fs-400: 2.5rem;
  --fs-600: 4rem;
}

body {
  font-family: "SF-Pro-Display";
  height: 4635px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--clr-black);
  overscroll-behavior: none;
}

/* Card Gallery */

.biggercontainer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
}

.bigcontainer {
  position: absolute;
  top: 0;
  width: 5000px;
  height: 100%;
}

.gallery {
  position: absolute;
  /*top: 15%;*/
  height: 100%;
  width: 100%;
  display: flex;
  /*justify-content: space-evenly;*/
  align-items: center;
}

.card {
  margin: 7em;
  width: 400px;
  /* margin: 1em; */
  display: flex;
  position: relative;
  /* width: 415px; */
  overflow: hidden;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: flex-end;
}

.imagescards {
  position: absolute;
  width: 100%;
  overflow: hidden;
  transition: 0.5s ease;
}

.titlecards {
  margin: 0em;
  color: var(--clr-white);
  z-index: 2;
  opacity: 0;
  display: none;
}

.flex-title {
  margin: 0;
}

/* Card hover */

.imagescards:hover {
  width: 115%;
  filter: blur(0.3rem);
  transform: scale(2);
  transform-origin: center;
}

.titlehover {
  display: block;
  opacity: 1;
}

/* Media queries */

@media screen and (min-width: 100px) and (max-width: 700px) {
  body {
    height: 3300px;
  }

  .gallery {
    display: flex;
    justify-content: flex-start;
  }

  .biggercontainer {
    height: 100svh;
  }
  .card {
    margin: 3em;
    width: 320px;
  }

  #card-one {
    margin-left: 1em;
    height: 70%;
  }

  .popup-image.visible {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #pop-picture {
    width: 70%;
  }
  #pop-description {
    width: 80%;
  }
  #pop-text1 {
    font-size: 1em;
  }
  #pop-text {
    font-size: 1em;
  }
}

@media screen and (min-width: 700px) and (max-width: 1200px) {
  body {
    height: 4000px;
  }
  .gallery {
    justify-content: flex-start;
  }
  .card {
    margin: 7em;
    width: 369px;
  }

  #card-one {
    margin-left: 10em;
  }

  .popup-image.visible {
    display: flex;
  }
  #pop-picture {
    min-width: 50%;
  }
}

/* Cards Popups */

.image-description {
  width: 30%;
  margin: 2em;
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  color: var(--clr-white);
  z-index: 100;
}

.popup-image {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.popup-image.visible {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
}

.popup-image .popup-title {
  margin-bottom: 1em;
  font-size: var(--fs-200);
  color: var(--clr-white);
  z-index: 102;
}

.popup-image .textcards-popup {
  color: var(--clr-white);
  z-index: 100;
}

.popup-image .popup-button {
  font-size: 1em;
  border: none;
  text-align: center;
  margin-top: 1em;
  width: 6em;
  border-radius: 8px;
  color: var(--clr-white);
  background-color: var(--clr-grey-400);
  padding: 0.5em;
  cursor: pointer;
  z-index: 101;
  transition: color;
}

.popup-image .popup-button:hover {
  background-color: var(--clr-grey-300);
}

.textcards {
  display: none;
}

.popup-image .popup-pic {
  border-radius: 8px;
  width: 38%;
  object-fit: cover;
}

.popup-image .popup-pic-active {
  transition: 2s ease;
}

/* Cards specifications */

.card.one {
  display: flex;
  margin-left: 45em;
  height: 72%;
  justify-content: center;
  align-content: flex-end;
  flex-wrap: wrap;
}

.card.two {
  height: 60%;
}

.card.three {
  height: 34%;
}

.card.four {
  height: 53%;
}

.card.five {
  height: 42%;
}

.card.six {
  height: 60%;
}

.card.seven {
  height: 61%;
}

.textcards-one {
  margin: 0;
}

/*  Propriété active en popup */

.background-blur .card {
  filter: blur(12px);
}

body.no-scroll {
  overflow: hidden;
}

.hidden {
  display: none;
}
