:root {
  --clr-black: hsla(0, 0%, 5%, 1);
  --clr-grey-100: hsla(0, 0%, 90%, 1);
  --fs-300: 2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title-s {
  font-size: var(--fs-300);
  font-weight: 750;
  color: var(--clr-grey-100);
}

.rOne {
  background-color: var(--clr-black);
}

.rOne-container-gallery {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  padding: 3rem;
}

.rOne-column {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  flex-basis: 24%;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  /* .rOne {
    background-color: blue;
  } */

  .rOne-container-gallery {
    flex-wrap: wrap;
  }

  .rOne-column {
    flex-basis: 48%;
  }
}

@media screen and (max-width: 768px) {
  .rOne-container-gallery {
    flex-direction: column;
  }
}

.card {
  background-position: center;
  background-size: cover;
  opacity: 0;
  transition: 0.9s;
  position: relative;
}

.rOne-container-gallery h2 {
  opacity: 0;
  position: absolute;
  bottom: 1.5rem;
  left: 1rem;
}

.card:hover h2 {
  opacity: 1;
}

.card:hover {
  transition: 0.8s ease;
  filter: blur(0.2rem);
  background-size: 200%;
  /* transform: scale (1.2); */
}

.card.active {
  opacity: 1;
}

.rOne-container-gallery .card1 {
  height: 11rem;
  background-image: url("./images/r1_img_1.png");
}

.rOne-container-gallery .card2 {
  height: 22rem;
  background-image: url("./images/r1_img_2.png");
}

.rOne-container-gallery .card3 {
  height: 32rem;
  background-image: url("./images/r1_img_3.png");
}

.rOne-container-gallery .card4 {
  height: 22rem;
  background-image: url("./images/r1_img_4.png");
}

.rOne-container-gallery .card5 {
  height: 11rem;
  background-image: url("./images/r1_img_5.png");
}

.rOne-container-gallery .card6 {
  height: 32rem;
  background-image: url("./images/r1_img_6.png");
}

.rOne-container-gallery .card7 {
  height: 22rem;
  background-image: url("./images/r1_img_7.png");
}

.rOne-container-gallery .card8 {
  height: 11rem;
  background-image: url("./images/r1_img_8.png");
}

.rOne-container-gallery .card9 {
  height: 32rem;
  background-image: url("./images/r1_img_9.png");
}

.rOne-container-gallery .card10 {
  height: 19rem;
  background-image: url("./images/r1_img_10.png");
}

.rOne-container-gallery .card11 {
  height: 17rem;
  background-image: url("./images/r1_img_11.png");
}

.rOne-container-gallery .card12 {
  height: 19rem;
  background-image: url("./images/r1_img_12.png");
}

.rOne-container-gallery .card13 {
  height: 28rem;
  background-image: url("./images/r1_img_13.png");
}

.rOne-container-gallery .card14 {
  height: 19rem;
  background-image: url("./images/r1_img_14.png");
}

.rOne-container-gallery .card15 {
  height: 30rem;
  background-image: url("./images/r1_img_15.png");
}

.rOne-container-gallery .card16 {
  height: 16rem;
  background-image: url("./images/r1_img_16.png");
}

.rOne-container-gallery .card17 {
  height: 19rem;
  background-image: url("./images/r1_img_1.png");
}

.rOne-container-gallery .card18 {
  height: 28rem;
  background-image: url("./images/r1_img_2.png");
}

.rOne-container-gallery .card19 {
  height: 25rem;
  background-image: url("./images/r1_img_3.png");
}

.rOne-container-gallery .card20 {
  height: 21rem;
  background-image: url("./images/r1_img_4.png");
}

.rOne-container-gallery .card21 {
  height: 19rem;
  background-image: url("./images/r1_img_5.png");
}

.rOne-container-gallery .card22 {
  height: 21rem;
  background-image: url("./images/r1_img_6.png");
}

.rOne-container-gallery .card23 {
  height: 25rem;
  background-image: url("./images/r1_img_7.png");
}

.rOne-container-gallery .card24 {
  height: 16rem;
  background-image: url("./images/r1_img_8.png");
}
.rOne-container-gallery .card25 {
  height: 24rem;
  background-image: url("./images/r1_img_9.png");
}

.rOne-container-gallery .card26 {
  height: 25rem;
  background-image: url("./images/r1_img_10.png");
}

.rOne-container-gallery .card27 {
  height: 19rem;
  background-image: url("./images/r1_img_11.png");
}

.rOne-container-gallery .card28 {
  height: 19rem;
  background-image: url("./images/r1_img_12.png");
}

.rOne-container-gallery .card29 {
  height: 32rem;
  background-image: url("./images/r1_img_13.png");
}

.rOne-container-gallery .card30 {
  height: 32rem;
  background-image: url("./images/r1_img_14.png");
}

.rOne-container-gallery .card31 {
  height: 14rem;
  background-image: url("./images/r1_img_15.png");
}

.rOne-container-gallery .card32 {
  height: 19rem;
  background-image: url("./images/r1_img_16.png");
}

.rOne-container-gallery .card33 {
  height: 14rem;
  background-image: url("./images/r1_img_1.png");
}

.rOne-container-gallery .card34 {
  height: 32rem;
  background-image: url("./images/r1_img_2.png");
}

.rOne-container-gallery .card35 {
  height: 19rem;
  background-image: url("./images/r1_img_3.png");
}

.rOne-container-gallery .card36 {
  height: 14rem;
  background-image: url("./images/r1_img_4.png");
}
