*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
  --clr-white: hsla(0, 0%, 97%, 1);
  --clr-grey-100: hsla(0, 0%, 90%, 1);
  --clr-grey-200: hsla(0, 0%, 70%, 1);
  --clr-grey-300: hsla(0, 0%, 50%, 1);
  --clr-grey-400: hsla(0, 0%, 30%, 1);
  --clr-grey-500: hsla(0, 0%, 12%, 1);
  --clr-black: hsla(0, 0%, 5%, 1);
  --fs-200: 1.5rem;
  --fs-300: 2rem;
  --fs-400: 2.5rem;
  --fs-600: 4rem;
  }
  
body{
  position: relative;
    background-color: var(--clr-black);
    height: 150em;
    width: 150rem;
    overflow: hidden;
}
.images .text {
  position: relative;
}

.container {
  transition: transform 0.3s ease-out;
}

.text{
  color: var(--clr-grey-200);
  grid-area: 1 / 4 / 2 / 5;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.title {
  opacity: 0;
  color: var(--clr-grey-200);

}
.descrip {
  opacity: 0;
  color: var(--clr-grey-200);
  font-size: 1.5rem;

}
.title-zoom{
  font-size: 3rem;
  color: var(--clr-grey-100);
  /*font family nantes je sais pas quoi bizarre */
}

.allImages {
  display: flex;
  position: relative;
}

.images .pic {
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease, filter 0.5s ease;
}

.images .pic:hover {
  transform: scale(1.1);
  filter: blur(0.2rem);
}
.images:hover .title{
  opacity: 1;
  transition: opacity 0.5s ease;
}


 #image1{
  height:15.6em; 
  width:25em;
  transform: translate(10%,50%);
}
 #image2{
  height:18.75rem; 
  width:16.8rem;
  transform: translate(720%,70%);
 } 
 #image3{
  height:21.8rem; 
  width:16.8rem;
  transform: translate(400%,200%);
}
#image4{
  height:25rem; 
  width:21.8rem;
  transform: translate(150%,400%);
}
#image5{
  height:16.8rem; 
  width:18.75rem;
  transform: translate(400%,400%);
}

#image6{
  height:18.75rem; 
  width:20.75rem;
  transform: translate(300%,550%);
}

#image7{
  height:20rem; 
  width:15.6rem;
  transform: translate(-650%,400%);
}

#image8{
  height:25rem; 
  width:25rem;
  transform: translate(-370%,200%);
}

#image9{
  height:18.75rem; 
  width:18.75rem;
  transform: translate(-750%,550%);
}
#image10{
  height:18.75rem; 
  width:18.75rem;
  transform: translate(-390%,10%);
} 



.zoom-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index:2;
}

.zoom-content {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 2rem;
  width: 50%;
  height: 90%;
 
  
}
.zoom-content img{
  grid-area: 1 / 1 / 2 / 4;
  padding-bottom: 30vh;
  width: 100%;
  height: 90%;
}




.flip-animation {
  transition: transform 0.5s ease-in-out;
  transform: rotateY(0deg);
}

.flip-animation.flip {
  transform: rotateY(360deg);
}


.blur-background {
 position: fixed;
  top: 0;
  left: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 5%, 0.6);
    backdrop-filter: blur(12px); 
    z-index: 1; 
    display: none; 
}
.close-img{
  background-color: #4d4d4d;
  color:white;
  border: none;
  font-size: 1rem;
  padding: 0.8rem 1.4rem;
  width: fit-content;
  margin-top: 2rem;

}

