* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.rOne-container-gallery {
  border: 1px solid red;
  display: flex;
  gap: 1.5rem;
  margin: 0 2.5rem 0 2.5rem;
}

.rOne-column {
  border: 1px solid green;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  flex-basis: 24%;
  padding: 1.5rem 0;
}

.card {
  background-color: gray;
}
