:root {
  --clr-black: hsla(0, 0%, 5%, 1);
  --clr-grey-100: hsla(0, 0%, 90%, 1);
  --fs-300: 2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*for smooth scroll animation */
/* html {
  overflow-x: hidden;
  overflow-y: scroll;
} */

.rOne {
  scroll-behavior: smooth;
}

.title-s {
  font-size: var(--fs-300);
  font-weight: 750;
  color: var(--clr-grey-100);
}

.rOne {
  background-color: var(--clr-black);
}

/* .js-scroll {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  will-change: transform;
} */

.rOne-container-gallery {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  padding: 3rem;
  max-width: 65rem;
  margin: auto;
}

.rOne-column {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  flex-basis: 24%;
  overflow: hidden;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .rOne-container-gallery {
    flex-wrap: wrap;
    max-width: 45rem;
  }

  .rOne-column {
    flex-basis: 48%;
  }
}

@media screen and (max-width: 768px) {
  .rOne-container-gallery {
    flex-direction: column;
    max-width: 25rem;
  }
}

.rOne .card {
  overflow: hidden; /* to avoid pictures enlargment on hover */
}

.rOne .background {
  /* picture added as background */
  opacity: 0; /* for scroll reveal */
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  transition: 0.9s ease; /* to return to initial state after hover & for scroll reveal */
}

.rOne .background.active {
  opacity: 1; /* for scroll reveal */
  transition: 0.9s ease; /* for scroll reveal */
}

.rOne .background:hover {
  transform: scale(1.5);
  transition: 0.9s ease;
}

.rOne .card h2 {
  opacity: 0; /* hide until hover */
  backdrop-filter: blur(2px); /* to get blurred background on hover */
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  padding-bottom: 1.5rem;
  padding-left: 1rem;
  transition: 1s ease; /* return to original state after hover */
}

.rOne .card:hover h2 {
  opacity: 1;
  /* below: compensation of background transform : scale(1.1) */
  transform: scale(calc(1 / 1.5));
  transition: 0.9s ease;
  background-color: rgba(0, 0, 0, 0.6);
}

.rOne-container-gallery .card1 {
  height: 14rem;
}

.rOne-container-gallery .background1 {
  background-image: url("./images/r1_img_1.png");
}

.rOne-container-gallery .card2 {
  height: 19rem;
}

.rOne-container-gallery .background2 {
  background-image: url("./images/r1_img_2.png");
}

.rOne-container-gallery .card3 {
  height: 31rem;
}

.rOne-container-gallery .background3 {
  background-image: url("./images/r1_img_3.png");
}

.rOne-container-gallery .card4 {
  height: 23rem;
}

.rOne-container-gallery .background4 {
  background-image: url("./images/r1_img_4.png");
}

.rOne-container-gallery .card5 {
  height: 18rem;
}

.rOne-container-gallery .background5 {
  background-image: url("./images/r1_img_5.png");
}

.rOne-container-gallery .card6 {
  height: 29rem;
}

.rOne-container-gallery .background6 {
  background-image: url("./images/r1_img_6.png");
}

.rOne-container-gallery .card7 {
  height: 22rem;
}

.rOne-container-gallery .background7 {
  background-image: url("./images/r1_img_7.png");
}

.rOne-container-gallery .card8 {
  height: 16rem;
}

.rOne-container-gallery .background8 {
  background-image: url("./images/r1_img_8.png");
}

.rOne-container-gallery .card9 {
  height: 23rem;
}

.rOne-container-gallery .background9 {
  background-image: url("./images/r1_img_9.png");
}

.rOne-container-gallery .card10 {
  height: 19rem;
}

.rOne-container-gallery .background10 {
  background-image: url("./images/r1_img_10.png");
}

.rOne-container-gallery .card11 {
  height: 17rem;
}

.rOne-container-gallery .background11 {
  background-image: url("./images/r1_img_11.png");
}

.rOne-container-gallery .card12 {
  height: 19rem;
}

.rOne-container-gallery .background12 {
  background-image: url("./images/r1_img_12.png");
}

.rOne-container-gallery .card13 {
  height: 28rem;
}

.rOne-container-gallery .background13 {
  background-image: url("./images/r1_img_13.png");
}

.rOne-container-gallery .card14 {
  height: 19rem;
}

.rOne-container-gallery .background14 {
  background-image: url("./images/r1_img_14.png");
}

.rOne-container-gallery .card15 {
  height: 30rem;
}

.rOne-container-gallery .background15 {
  background-image: url("./images/r1_img_15.png");
}

.rOne-container-gallery .card16 {
  height: 16rem;
}

.rOne-container-gallery .background16 {
  background-image: url("./images/r1_img_16.png");
}

.rOne-container-gallery .card17 {
  height: 19rem;
}

.rOne-container-gallery .background17 {
  background-image: url("./images/r1_img_1.png");
}

.rOne-container-gallery .card18 {
  height: 28rem;
}

.rOne-container-gallery .background18 {
  background-image: url("./images/r1_img_2.png");
}

.rOne-container-gallery .card19 {
  height: 25rem;
}

.rOne-container-gallery .background19 {
  background-image: url("./images/r1_img_3.png");
}

.rOne-container-gallery .card20 {
  height: 21rem;
}

.rOne-container-gallery .background20 {
  background-image: url("./images/r1_img_4.png");
}

.rOne-container-gallery .card21 {
  height: 19rem;
}

.rOne-container-gallery .background21 {
  background-image: url("./images/r1_img_5.png");
}

.rOne-container-gallery .card22 {
  height: 21rem;
}

.rOne-container-gallery .background22 {
  background-image: url("./images/r1_img_6.png");
}

.rOne-container-gallery .card23 {
  height: 25rem;
}

.rOne-container-gallery .background23 {
  background-image: url("./images/r1_img_7.png");
}

.rOne-container-gallery .card24 {
  height: 17rem;
}

.rOne-container-gallery .background24 {
  background-image: url("./images/r1_img_8.png");
}
.rOne-container-gallery .card25 {
  height: 24rem;
}

.rOne-container-gallery .background25 {
  background-image: url("./images/r1_img_9.png");
}

.rOne-container-gallery .card26 {
  height: 24rem;
}

.rOne-container-gallery .background26 {
  background-image: url("./images/r1_img_10.png");
}

.rOne-container-gallery .card27 {
  height: 19rem;
}

.rOne-container-gallery .background27 {
  background-image: url("./images/r1_img_11.png");
}

.rOne-container-gallery .card28 {
  height: 19rem;
}

.rOne-container-gallery .background28 {
  background-image: url("./images/r1_img_12.png");
}

.rOne-container-gallery .card29 {
  height: 32rem;
}

.rOne-container-gallery .background29 {
  background-image: url("./images/r1_img_13.png");
}

.rOne-container-gallery .card30 {
  height: 25rem;
}

.rOne-container-gallery .background30 {
  background-image: url("./images/r1_img_14.png");
}

.rOne-container-gallery .card31 {
  height: 18rem;
}

.rOne-container-gallery .background31 {
  background-image: url("./images/r1_img_15.png");
}

.rOne-container-gallery .card32 {
  height: 19rem;
}

.rOne-container-gallery .background32 {
  background-image: url("./images/r1_img_16.png");
}

.rOne-container-gallery .card33 {
  height: 18rem;
}

.rOne-container-gallery .background33 {
  background-image: url("./images/r1_img_1.png");
}

.rOne-container-gallery .card34 {
  height: 28rem;
}

.rOne-container-gallery .background34 {
  background-image: url("./images/r1_img_2.png");
}

.rOne-container-gallery .card35 {
  height: 20rem;
}

.rOne-container-gallery .background35 {
  background-image: url("./images/r1_img_3.png");
}

.rOne-container-gallery .card36 {
  height: 16rem;
}

.rOne-container-gallery .background36 {
  background-image: url("./images/r1_img_4.png");
}
