*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --clr-white: hsla(0, 0%, 0%, 1);
    --clr-grey-100: hsla(0, 0%, 90%, 1);
    --clr-grey-200: hsla(0, 0%, 70%, 1);
    --clr-grey-300: hsla(0, 0%, 50%, 1);
    --clr-grey-400: hsla(0, 0%, 30%, 1);
    --clr-grey-500: hsla(0, 0%, 12%, 1);
    --clr-black: hsla(0, 0%, 5%, 1);
    --fs-200: 24px;
    --fs-300: 32px;
    --fs-400: 40px;
    --fs-600: 64px;
}
  
body{
    background-color: var(--clr-black);
    height: 150rem;
    width: 150rem;
    overflow: hidden;
}

.container{
  transition: transform 0.3s ease-out;
}
.allImages{
  display: flex;
  position: relative;
}



.text{
  opacity: 0;
} 
.images{
  position: relative;
  transition: transform 0.3s ease;  
  transition: filter 0.3s ease;  
}

.image:hover{
  transform: scale(1.1) ;
  filter: blur(0.2rem);
}

 #image1{
  position: relative;
  transform: translate(10%,50%);
}
 #image2{
  position: relative;
  transform: translate(800%,50%);
 } 
 #image3{
  position: relative;
  transform: translate(400%,200%);
  
}
#image4{
  position: relative;
  transform: translate(150%,400%);

}
#image5{
  position: relative;
  transform: translate(400%,400%);
}

#image6{
  position: relative;
  transform: translate(400%,650%);
}

#image7{
  position: relative;
  transform: translate(200%,-90%);
}

#image8{
  position: relative;
  transform: translate(-370%,200%);
}

#image9{
  position: relative;
  transform: translate(-750%,650%);
}
#image10{
  position: relative;
  transform: translate(-390%,10%);
} 

