/* :root {
  --clr-black: hsla(0, 0%, 5%, 1);
  --clr-grey-100: hsla(0, 0%, 90%, 1);
  --fs-300: 2rem;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.rOne {
  scroll-behavior: smooth;
  background-color: var(--clr-black);
  position: relative;
  min-height: 100vh;
  font-family: "SF-Pro-Display";
  z-index: 1;
}

.no-scroll {
  overflow: hidden;
}

.title-s {
  font-size: 1.5rem;
  font-weight: 750;
  color: var(--clr-grey-100);
}

.rOne-container-gallery {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  padding: 3rem;
  max-width: 65rem;
  margin: auto;
}

.rOne-column {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  flex-basis: 24%;
  overflow: hidden;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .rOne-container-gallery {
    flex-wrap: wrap;
    max-width: 45rem;
  }

  .rOne-column {
    flex-basis: 48%;
  }
}

@media screen and (max-width: 768px) {
  .rOne-container-gallery {
    flex-direction: column;
    max-width: 25rem;
  }
}

.rOne .card {
  overflow: hidden; /* to avoid pictures enlargment on hover */
}

.rOne .background {
  /* picture added as background */
  opacity: 0; /* for scroll reveal */
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  transition: 0.9s ease; /* to return to initial state after hover & for scroll reveal */
}

.rOne .background.active {
  opacity: 1; /* for scroll reveal */
  transition: 0.9s ease; /* for scroll reveal */
}

.rOne .background:hover {
  transform: scale(1.5);
  transition: 0.9s ease;
}

.rOne .card h2 {
  opacity: 0; /* hide until hover */
  backdrop-filter: blur(2px); /* to get blurred background on hover */
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  padding-bottom: 1.5rem;
  padding-left: 1rem;
  transition: 0.9s ease; /* return to original state after hover */
}

.rOne .card:hover h2 {
  opacity: 1;
  /* below: compensation of background transform : scale(1.5) */
  transform: scale(calc(1 / 1.5));
  transition: 0.9s ease;
  background-color: rgba(0, 0, 0, 0.6);
}

.rOne-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(12px);
  z-index: 3;
  background-color: hsla(0, 0%, 5%, 0.6);
  display: none;
}

.display-overlay {
  display: block;
}

.rOne-modal {
  position: fixed;
  top: 10%;
  left: 15%;
  width: 70vw;
  height: 80vh;
  display: none;
  gap: 1rem;
  z-index: 4;
  transform-origin: 50% 50%;
  animation: fade-in-animation 0.7s linear 0s 1 normal both running;
}

@keyframes fade-in-animation {
  0% {
    filter: blur(3px);
    opacity: 0;
  }

  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

.rOne-modal-background {
  background-image: url("./images/r1_img_1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
  border-radius: 6px;
  flex-basis: 70%;
}

.rOne-modal-body {
  flex-basis: 30%;
  padding: 1.5rem;
  border-radius: 6px;
  display: none;
  flex-direction: column;
}

.rOne-modal-title {
  font-family: "SF-Pro-Display";
  font-size: 1.5rem;
  padding-bottom: 1rem;
  color: var(--clr-white);
}

.rOne-modal-content {
  font-family: "SF-Pro-Display";
  font-size: clamp(1rem);
  padding-bottom: 2rem;
  color: var(--clr-white);
}

.rOne-modal-closebutton {
  font-family: "SF-Pro-Display";
  font-size: 1rem;
  padding: 0.75rem;
  width: 6rem;
  border-radius: 8px;
  border: none;
  color: var(--clr-white);
  background-color: var(--clr-grey-400);
}

.rOne-modal-closebutton:hover {
  background-color: var(--clr-grey-300);
}

.modal-open {
  display: flex;
}

@media screen and (max-width: 992px) {
  .rOne-modal {
    flex-direction: column;
  }

  .rOne-modal-background {
    background-position: bottom center;
  }
}
