:root {
  --clr-white: hsla(0, 0%, 97%, 1);
  --clr-grey-100: hsla(0, 0%, 90%, 1);
  --clr-grey-200: hsla(0, 0%, 70%, 1);
  --clr-grey-300: hsla(0, 0%, 50%, 1);
  --clr-grey-400: hsla(0, 0%, 30%, 1);
  --clr-grey-500: hsla(0, 0%, 12%, 1);
  --clr-black: hsla(0, 0%, 5%, 1);
  --fs-200: 1.5rem;
  --fs-300: 2rem;
  --fs-400: 2.5rem;
  --fs-600: 4rem;
}


@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,600;1,600&display=swap');



@font-face {
  font-family: "SF-Pro-Display";
  src: local(), url("assets/fonts/SF Pro Display/SF-Pro-Display-Medium.otf");
  font-size: 1rem;
  font-style: normal;
  font-weight: medium;
}
@font-face {
  font-family: "SF-Pro-Display";
  src: local(), url("assets/fonts/SF Pro Display/SF-Pro-Display-Medium.otf");
  font-size: 1rem;
  font-style: italic;
  font-weight: medium;
}
@font-face {
  font-family: "SF-Pro-Display";
  src: local(), url("assets/fonts/SF Pro Display/SF-Pro-Display-Medium.otf");
  font-size: 1.5rem;
  font-style: normal;
  font-weight: medium;
}
@font-face {
  font-family: "SF-Pro-Display";
  src: local(), url("assets/fonts/SF Pro Display/SF-Pro-Display-Medium.otf");
  font-size: 1.5rem;
  font-style: italic;
  font-weight: medium;
}

body::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  box-sizing: border-box;
}
