.mainAbout {
  color: var(--clr-black);
  text-align: justify;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -25svh;
  background: var(--clr-grey-100);
  position: relative;
  z-index: 5;
}

.mainAbout article {
  margin: 0 5% 0 5%;
}

.aboutMuseumSection,
.howItWorksSection,
.historyOfAiSection,
.contributorSection {
  background-color: white;
  border: solid 1px;
  border-radius: 30px;
  margin: 3svh 0 3svh 0;
  max-width: 60svw;
  min-width: 60svw;
  box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.15),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.108),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.089),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.075),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.061),
    100px 100px 80px rgba(0, 0, 0, 0.042);
}

.aboutMuseumSection h2 {
  background-image: url("/assets/aboutImg/lilgirl.png");
  background-attachment: fixed;
  text-align: center;
  color: var(--clr-white);
  padding: 5% 0% 5% 0%;
}

.howItWorksSection h2 {
  background-image: url("/assets/aboutImg/ai.png");
  background-attachment: fixed;
  text-align: center;
  color: var(--clr-white);
  padding: 5% 0% 5% 0%;
}

.historyOfAiSection h2 {
  background-image: url("/assets/aboutImg/future.png");
  background-attachment: fixed;
  text-align: center;
  color: var(--clr-white);
  padding: 5% 0% 5% 0%;
}

.contributorSection h2 {
  background-image: url("/assets/aboutImg/tomorrow.png");
  background-attachment: fixed;
  text-align: center;
  color: var(--clr-white);
  padding: 5% 0% 5% 0%;
}

.carouselSection {
  margin-bottom: 5svh;
}
