/* remplacer body par la class ou l'ID de la div à laquelle la page sera rattachée. */
.parallaxContent {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-items: center;
}

.parallaxContent img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

#robots {
  z-index: 3;
  top: -200px;
  object-fit: cover;
}

#mountain {
  z-index: 2;
  height: 65%;
  width: 100%;
  object-fit: cover;
  top: 150px;
}

#sky {
  z-index: 0;
  height: 200svh;
}

#moon {
  z-index: 1;
}

#aivolution {
  top: 500px;
  position: relative;
  color: var(--clr-white);
  font-size: 20rem;
  z-index: 2;
  text-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
  margin-bottom: 35%;
  margin-left: 2%;
  margin-right: 2%;
}
