/* TABLETTE */
@media screen and (max-width: 1024px) {
  #aivolution {
    /* height: 40svh;
    font-size: 5rem;
    margin-top: 60svh; */
    visibility: hidden;
  }

  .mainAbout {
    margin-top: -26svh;
  }
}

/* MOBILE */
@media screen and (max-width: 400px) {
  #robots {
    height: 85svh;
    object-fit: cover;
  }

  #sky {
    height: 100svh;
    object-fit: cover;
  }

  #aivolution {
    /* height: 1svh;
    font-size: 2.5rem;
    margin-top: 60svh;
    margin-bottom: 0; */
    visibility: hidden;
  }
}
