:root {
  --clr-white: hsla(0, 0%, 97%, 1);
  --clr-grey-100: hsla(0, 0%, 90%, 1);
  --clr-grey-200: hsla(0, 0%, 70%, 1);
  --clr-grey-300: hsla(0, 0%, 50%, 1);
  --clr-grey-400: hsla(0, 0%, 30%, 1);
  --clr-grey-500: hsla(0, 0%, 12%, 1);
  --clr-black: hsla(0, 0%, 5%, 1);
  --fs-200: 1.5rem;
  --fs-300: 2rem;
  --fs-400: 2.5rem;
  --fs-600: 4rem;
}

* {
  box-sizing: border-box;
  background-color: var(--clr-black);
}

body {
  font-family: sans-serif;
  text-align: center;
}

.scene {
  border: 1px solid #ccc;
  margin: 40px 0;
  position: relative;
  z-index: 3;
  width: 210px;
  height: 140px;
  margin: 80px auto;
  perspective: 1000px;
}

.carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translateZ(-288px);
  transform-style: preserve-3d;
  transition: transform 1s;
}

.carousel__cell {
  position: absolute;
  width: 190px;
  height: 120px;
  left: 10px;
  top: 10px;
  border: 2px solid black;
  line-height: 116px;
  font-size: 80px;
  font-weight: bold;
  color: white;
  text-align: center;
  transition: transform 1s, opacity 1s;
}

div.carousel__cell {
  opacity: 0.5 !important;
}

div.carousel__cell:hover {
  opacity: 1 !important;
}

.carousel__cell:nth-child(7n + 1) {
  /* background: hsla(0, 100%, 50%, 0.8); */
  background-image: url("/assets/Océane.jpg");
  background-size: cover;
}
.carousel__cell:nth-child(7n + 2) {
  background: hsla(40, 100%, 50%, 0.8);
}
.carousel__cell:nth-child(7n + 3) {
  background: hsla(80, 100%, 50%, 0.8);
}
.carousel__cell:nth-child(7n + 4) {
  background: hsla(120, 100%, 50%, 0.8);
}
.carousel__cell:nth-child(7n + 5) {
  background: hsla(160, 100%, 50%, 0.8);
}
.carousel__cell:nth-child(7n + 6) {
  background: hsla(200, 100%, 50%, 0.8);
}
.carousel__cell:nth-child(7n + 0) {
  background: hsla(240, 100%, 50%, 0.8);
}

.carousel__cell:nth-child(1) {
  transform: rotateY(0deg) translateZ(288px);
}
.carousel__cell:nth-child(2) {
  transform: rotateY(40deg) translateZ(288px);
}
.carousel__cell:nth-child(3) {
  transform: rotateY(80deg) translateZ(288px);
}
.carousel__cell:nth-child(4) {
  transform: rotateY(120deg) translateZ(288px);
}
.carousel__cell:nth-child(5) {
  transform: rotateY(160deg) translateZ(288px);
}
.carousel__cell:nth-child(6) {
  transform: rotateY(200deg) translateZ(288px);
}
.carousel__cell:nth-child(7) {
  transform: rotateY(240deg) translateZ(288px);
}

.carousel-options {
  text-align: center;
  position: relative;
  z-index: 2;
}

.inputToHide {
  visibility: hidden;
}

.navcarouselbuttons {
  display: flex;
  justify-content: space-around;
  position: relative;
  z-index: 2;
  background: transparent;
  margin: -13% 10% 8% 10%;
}

.previous-button,
.next-button {
  color: var(--clr-white);
  background-color: var(--clr-black);
  border: 1px solid var(--clr-white);
  height: 10vh;
  width: 10vw;
}

.previous-button:hover {
  color: var(--clr-black);
  background-color: var(--clr-grey-300);
  border: 1px solid var(--clr-white);
}
.next-button:hover {
  color: var(--clr-black);
  background-color: var(--clr-grey-300);
  border: 1px solid var(--clr-white);
}

.previous-button:active {
  color: var(--clr-black);
  background-color: var(--clr-white);
  border: 1px solid var(--clr-white);
}

.next-button:active {
  color: var(--clr-black);
  background-color: var(--clr-white);
  border: 1px solid var(--clr-white);
}

label {
  color: var(--clr-white);
}
